<ul class="d-none d-lg-flex big_city_list text-center">
  <li><%= link_to '東京', pref_path(pref: 'Tokyo'), class: 'tokyo_link' %></li>
  <li><%= link_to '大阪', pref_path(pref: 'Osaka'), class: 'osaka_link' %></li>
  <li><%= link_to '京都', pref_path(pref: 'Kyoto'), class: 'kyoto_link' %></li>
  <li><%= link_to '愛知', pref_path(pref: 'Aichi'), class: 'aichi_link' %></li>
  <li><%= link_to '福岡', pref_path(pref: 'Fukuoka'), class: 'fukuoka_link' %></li>
</ul>