<% content_for(:title, 'エリア一覧') %>
<% content_for(:body_class, "spot") %>
<% content_for(:body_id, "prefs") %>

<section>
  <h1>北海道・東北地方</h1>
  <ul>
    <% @prefs.each do |pref| %>
      <% if pref.area == '北海道' || pref.area == '東北' %>
        <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
      <% end %>
    <% end %>
  </ul>
  
  <h1>関東</h1>
  <ul>
    <% @prefs.each do |pref| %>
      <% if pref.area == '関東' %>
        <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
      <% end %>
    <% end %>
  </ul>
  
  <h1>中部</h1>
  <ul>
    <% @prefs.each do |pref| %>
      <% if pref.area == '中部' %>
        <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
      <% end %>
    <% end %>
  </ul>
  
  <h1>関西</h1>
  <ul>
    <% @prefs.each do |pref| %>
      <% if pref.area == '関西' %>
        <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
      <% end %>
    <% end %>
  </ul>
  
  <h1>中国・四国</h1>
  <ul>
    <% @prefs.each do |pref| %>
      <% if pref.area == '中国' || pref.area == '四国' %>
        <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
      <% end %>
    <% end %>
  </ul>
  
  <h1>九州・沖縄</h1>
  <ul>
    <% @prefs.each do |pref| %>
      <% if pref.area == '九州' %>
        <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
      <% end %>
    <% end %>
  </ul>

</section>