<% content_for(:title, 'スポット検索') %>
<% content_for(:body_class, "spot") %>
<% content_for(:body_id, "search") %>

<script>
if( navigator.geolocation ){
  navigator.geolocation.getCurrentPosition( success, error, option );
  function success(position){
    var data = position.coords;
    var lat = data.latitude;
    var lng = data.longitude;
    console.log(lng);
    console.log(lat);
    console.log(data);
    $.ajax({
      type: 'GET',
      url: "<%= ajax_select_url %>",
      data: {"lat": lat, "lng": lng},
      success: function(data) {
        console.log("data send success");
      },
      error: function(data) {
        console.log("data send error");
      }
    });
    document.getElementById('latfield').value = lat;
    document.getElementById('lngfield').value = lng;
  }
  function error(error){
    var errorMessage = {
      0: "原因不明のエラーが発生しました。",
      1: "位置情報が許可されませんでした。",
      2: "位置情報が取得できませんでした。",
      3: "タイムアウトしました。",
    } ;
    alert( errorMessage[error.code]);
  }
  var option = {
    "enableHighAccuracy": false,
    "timeout": 1000 ,
    "maximumAge": 100 ,
  };

}else{
  alert("あなたの端末では、現在位置を取得できません。");
}
</script>


<section>
  <!-- タブボタン部分 -->
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">現在地から</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">エリア・カテゴリで絞り込み</a>
    </li>
    <li class="nav-item">
      <a href="#tab3" class="nav-link" data-toggle="tab">キーワード検索</a>
    </li>
  </ul>
  <!--タブのコンテンツ部分-->
  <div class="tab-content">
    
    <div id="tab1" class="tab-pane active">
      <h3>現在地から</h3>
      <%= form_tag ajax_location_path, method:'get', class: 'search-form location', remote: true do %>
        <%= label :lat, '緯度' %>
        <%= text_field :latlag, :lat, { class: 'form-control', id: 'latfield', name: 'latfield', readonly: true} %>
        <%= label :lng, '経度' %>
        <%= text_field :latlag, :lng, { class: 'form-control', id: 'lngfield', name: 'lngfield', readonly: true} %>
        <%= label :distance, '距離' %>
        <%= select :latlng, :distance, ['2', '5', '10', '20', '40', '100', '200', '400'], {}, { class: 'form-control' } %>
        km以内のスポットで
        <%= submit_tag('再表示', class: 'btn btn-primary btn-block') %>
      <% end %>
    </div>
    
    <div id="tab2" class="tab-pane">
      <h3>エリア・カテゴリで絞り込み</h3>
      <%= form_tag ajax_search_path, method:'get', class: 'search-form search', remote: true do %>
        <%= label :pref, '都道府県' %>
        <%= collection_select(:area, :pref, JpPrefecture::Prefecture.all, :name_e, :name, {prompt: '全国'}, { class: 'form-control' } ) %>
        <%= label :feature, '絞り込み', '', class: 'sort' %>
        <%= select :category_type, :category_type, [["特徴", 'feature'], ["ご利益", 'luck'], ["巡礼", 'route']], { prompt: "全カテゴリー" }, {class: "form-control", id: 'category-sort'} %>
        <%= collection_select(:categories, :category_id, Category.all, :id, :name, {prompt: "未選択"}, { class: 'form-control', id: 'category-field' } ) %>
        <div style="clear: both;">この条件で</div>
        <%= submit_tag('再表示', class: 'btn btn-primary btn-block') %>
      <% end %>
    </div>
    
    <script>
      $(document).on('change', '#category-sort', function(){
        var value = $(this).val();
        $.ajax({
          type: "GET",
          url: "<%= ajax_category_select_url %>",
          data: `value=${value}`
        });
      });
    </script>
    
    <div id="tab3" class="tab-pane">
      <h3>キーワード検索</h3>
      <%= form_tag ajax_keyword_path, method:'get', class: 'search-form keyword', remote: true do %>
        <%= label :pref, '都道府県' %>
        <%= collection_select(:area, :pref, JpPrefecture::Prefecture.all, :name_e, :name, {prompt: '全国'}, { class: 'form-control', id: 'prefField' } ) %>
        <%= label :keyword, 'キーワード' %>
        <%= text_field :keywords, :keyword, class: 'form-control', id: 'searchField' %>
        <%#= submit_tag('再表示', class: 'btn btn-primary btn-block') %>
      <% end %>
    </div>
    
  </div>
</section>

<section>
  <h1><i class="fa fa-map-marker" aria-hidden="true"></i> 該当のスポット</h2>

  <ul id="spotList" class="spot-list">
    
  </ul>
</section>

<script>
var timer = [];

$(document).on('input', '#searchField', function(e){
    e.preventDefault();
    timer.push(1);
    setTimeout(function(){
      timer.pop();
      if(timer.length == 0){
        var tar = $('#searchField');
        var input = $.trim(tar.val());
        var pref = $('#prefField').val();
        console.log(input);
        $.ajax({
          url: '<%= ajax_keyword_url %>',
          type: 'GET',
          data: {"keyword": input, "pref": pref}
        })
      }
    },0);
  });
  
</script>


