<section>
<h1><%= @spot.name %>(<%= @spot.kana %>)</h1>

<script type="text/javascript">
  function initMap() {

    var latlng ={lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: latlng,
        gestureHandling: "cooperative"
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @address %>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    var marker = new google.maps.Marker({
        position:latlng,
        map: map,
        title: contentString
    });

    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAOyCOKNI46ijTFKEZtCUjh9Cx6R4PsO7Q&callback=initMap">
</script>

<div id="map"></div>

<div class="card spot-info">
  <div class="card-header">
    基本情報
  </div>
  <div class="card-body">
    <p><%= @spot.address %></p>
    <p>緯度:<%= @spot.latitude %> 経度:<%= @spot.longitude %></p>
  </div>
</div>
</section>

<section>
<h2>口コミ一覧</h2>

<ul class="review-list">
  <% @spot.reviews.each do |review| %>
    <li>
      <div class="thumb"></div>
      <%= image_tag(review.image, class: 'review-thumb') %><%= review.comment %> by <%= review.user.name %>
    </li>
  <% end %>
</ul>

<%= link_to 'このスポットの口コミを投稿', new_review_path(@spot), class: 'btn btn-success btn-lg btn-block' %>

<hr />

<%= link_to 'スポット一覧へ', spots_path, class: 'btn btn-lg btn-secondary' %>
<%= link_to '編集', edit_spot_path(@spot), class: 'btn btn-lg btn-warning' %>
<%= link_to '削除', @spot, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-lg btn-danger' %>

</section>