<h1><%= @spot.name %></h1>
<p><%= @spot.address %>
緯度:<%= @spot.latitude %>
経度:<%= @spot.longitude %></p>

<h3>コメント一覧</h3>

<ul>
  <% @spot.reviews.each do |review| %>
    <li><%= image_tag(review.image, class: 'review-thumb') %><%= review.comment %> by <%= review.user.name %></li>
  <% end %>
</ul>


<%= link_to 'スポット一覧へ', spots_path, class: 'btn btn-lg btn-secondary' %>
<%= link_to '編集', edit_spot_path(@spot), class: 'btn btn-lg btn-warning' %>
<%= link_to '削除', @spot, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-lg btn-danger' %>