<% content_for(:title, '神社仏閣検索') %>
<% content_for(:body_class, "spot") %>
<% content_for(:body_id, "filter") %>

<section>
  <h1>神社仏閣名で検索</h1>
  
  <div class="tab-content mb-5">
  
    <div id="tab1" class="tab-pane active">
      <%= form_tag ajax_keyword_path, method:'get', class: 'keyword', remote: true do %>
        <%#= label :pref, '都道府県' %>
        <%#= collection_select(:area, :pref, JpPrefecture::Prefecture.all, :name_e, :name, {prompt: '全国'}, { class: 'form-control mb-3', id: 'prefField' } ) %>
        <%= label :keyword, '神社仏閣名' %>
        <%= text_field :keywords, :keyword, {placeholder: params[:keyword], class: 'form-control', id: 'searchField'} %>
        <%#= submit_tag('検索', class: 'btn btn-primary btn-block mt-3') %>
      <% end %>
    </div>
    
    <script>
    var timer = [];
    
    $(document).on('input', '#searchField', function(e){
        e.preventDefault();
        timer.push(1);
        setTimeout(function(){
          timer.pop();
          if(timer.length == 0){
            var tar = $('#searchField');
            var input = $.trim(tar.val());
            var pref = $('#prefField').val();
            console.log(input);
            $.ajax({
              url: '<%= ajax_keyword_url %>',
              type: 'GET',
              data: {"keyword": input, "pref": pref}
            })
          }
        },0);
      });
      
    </script>
    
  </div>

  <ul id="spotList" class="spot-list">
    <% @spots.each do |spot| %>
      <%= render 'spot_list', spot: spot %>
    <% end %>
  </ul>
  
</section>