<% content_for(:body_class, "home") %>
<% content_for(:body_id, "index") %>
<% content_for :meta do %>
  <meta name=”description” content=”ページ説明文” />
  <meta name=”keywords” content=”キーワードA,キーワードB,キーワードC” />
<% end %>

<section class="home">
  <h1>スポットを探す</h1>
  <div class="pref-box card p-4 mb-4">
    <h2>都道府県から探す</h2>
    <ul class="d-flex">
    
      <li>
        <h3>北海道・東北地方</h3>
        <ul>
          <% @prefs.each do |pref| %>
            <% if pref.area == '北海道' || pref.area == '東北' %>
              <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      
      <li>
        <h3>関東</h3>
        <ul>
          <% @prefs.each do |pref| %>
            <% if pref.area == '関東' %>
              <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      
      <li>
        <h3>中部</h3>
        <ul>
          <% @prefs.each do |pref| %>
            <% if pref.area == '中部' %>
              <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      
      <li>
        <h3>関西</h3>
        <ul>
          <% @prefs.each do |pref| %>
            <% if pref.area == '関西' %>
              <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      
      <li>
        <h3>中国・四国</h3>
        <ul>
          <% @prefs.each do |pref| %>
            <% if pref.area == '中国' || pref.area == '四国' %>
              <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      
      <li>
      <h3>九州・沖縄</h3>
        <ul>
          <% @prefs.each do |pref| %>
            <% if pref.area == '九州' %>
              <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    
    </ul>
  </div><!-- .pref-box -->
  
  <h1>新着の口コミ</h1>
  
  <% if @reviews.any? %>
    <ul class="review-list">
      <% @reviews.each do |review| %>
        <%= render '/reviews/review', review: review %>
      <% end %>
    </ul>
  <% else %>
    <p>口コミはまだありません。</p>
  <% end %>
  
  <h1>コラム</h1>
  
  <ul class="article-list">
    <% @parsed_articles.each do |article| %>
      <li>
        <a href="<%= article['link'] %>"><%= article['title']['rendered'] %></a>
        <% if article['_embedded']['wp:featuredmedia'].present? %>
          <a href="<%= article['link'] %>"><img src="<%= article['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['full']['source_url'] %>" /></a>
        <% end %>
        <%= article['content']['rendered'].html_safe %>
      </li>
    <% end %>
  </ul>
  
  
</section>
