<% content_for(:body_class, "home") %>
<% content_for(:body_id, "index") %>
<% content_for :meta do %>
  <meta name=”description” content=”ページ説明文” />
  <meta name=”keywords” content=”キーワードA,キーワードB,キーワードC” />
<% end %>

<section class="jumbotron text-center mb-0">
  <div class="container">
    <h1 class="jumbotron-heading">条件に合った神社仏閣を探す</h1>
    <p class="lead">エリア・ご利益・巡礼・神社仏閣名で検索できます。</p>
    
    <div id="homeForm" class="d-none d-sm-flex mb-3 mb-md-5">
      
      <%= form_tag spot_filter_path, method:'get', class: 'filter-form filter d-flex bg-white mb-4 mb-lg-0' do %>
        <div class="select_wrap pl-2" id="prefWrap">
          <%= collection_select('', :pref, JpPrefecture::Prefecture.all, :name_e, :name, {prompt: '都道府県'}, { class: 'form-control' } ) %>
        </div>
        <div class="select_wrap" id="categoryTypeWrap">
          <%= select '', :category_type, [["特徴", 'feature'], ["ご利益", 'luck'], ["巡礼", 'route']], { prompt: "カテゴリー" }, {class: "form-control", id: 'category-sort'} %>
        </div>
        <div class="select_wrap" id="categoryWrap">
          <%= collection_select('', :category_id, Category.all, :id, :name, {prompt: "カテゴリーを選択してください"}, { class: 'form-control', id: 'category-field' } ) %>
        </div>
        <%= button_tag(sanitize('<i class="fa fa-search"></i>'), class: 'btn btn-block hover ml-auto') %>
      <% end %>
      
      <%= form_tag spot_search_path, method:'get', class: 'search-form filter d-flex ml-auto bg-white' do %>
        <%= text_field '', :keyword, placeholder: '神社仏閣名で検索', class: 'form-control', id: 'searchField' %>
        <%= button_tag(sanitize('<i class="fa fa-search"></i>'), class: 'btn btn-block hover ml-auto') %>
      <% end %>
      
    </div><!-- #homeForm -->
    
    <div class="row">
      <%= link_to '条件から神社仏閣を探す', spot_filter_path, class: 'd-block d-sm-none button_m btn_white mr-auto ml-auto mb-3' %>
      <%= link_to '神社仏閣名から探す', spot_search_path, class: 'd-block d-sm-none button_m btn_white mr-auto ml-auto mb-3' %>
      <%= link_to '現在地周辺の神社仏閣を探す', spot_point_path, class: 'button_m btn_white mr-auto ml-auto' %>
    </div>
    
    <script>
      $(document).on('change', '#category-sort', function(){
        var value = $(this).val();
        $.ajax({
          type: "GET",
          url: "<%= ajax_category_select_url %>",
          data: `value=${value}`
        });
      });
    </script>
    
  </div>
</section>

<section class="mb-0 d-none d-md-block bg_cream">
  <div class="container">
    <h1 class="text_light_brown text-center">全国の神社仏閣</h1>
    <div class="row">
      
      <div class="area_link">
        <ul class="big_city_list text-center">
          <li><%= link_to '東京', root_path, class: 'tokyo_link' %></li>
          <li><%= link_to '大阪', root_path, class: 'osaka_link' %></li>
          <li><%= link_to '京都', root_path, class: 'kyoto_link' %></li>
          <li><%= link_to '愛知', root_path, class: 'aichi_link' %></li>
          <li><%= link_to '福岡', root_path, class: 'fukuoka_link' %></li>
        </ul>
        
        <ul class="text-left row mb-0 mt-4 pref_list">
          <li class="col-12 col-xl-6">
            <h2>北海道・東北地方</h2>
            <ul class="d-flex">
              <% @prefs.each do |pref| %>
                <% if pref.area == '北海道' || pref.area == '東北' %>
                  <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="col-12 col-xl-6">
            <h2>関東</h2>
            <ul class="d-flex">
              <% @prefs.each do |pref| %>
                <% if pref.area == '関東' %>
                  <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="col-12 col-xl-6">
            <h2>中部</h2>
            <ul class="d-flex">
              <% @prefs.each do |pref| %>
                <% if pref.area == '中部' %>
                  <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="col-12 col-xl-6">
            <h2>関西</h2>
            <ul class="d-flex">
              <% @prefs.each do |pref| %>
                <% if pref.area == '関西' %>
                  <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="col-12 col-xl-6">
            <h2>中国・四国</h2>
            <ul class="d-flex">
              <% @prefs.each do |pref| %>
                <% if pref.area == '中国' || pref.area == '四国' %>
                  <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="col-12 col-xl-6">
          <h2>九州・沖縄</h2>
            <ul class="d-flex">
              <% @prefs.each do |pref| %>
                <% if pref.area == '九州' %>
                  <li><%= link_to pref.name, pref_path(pref: pref.name_e) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
        
      </div><!-- .area_link -->
      
      <aside class="bg-white">
        <%= render 'layouts/sidebar' %>
      </aside>
      
    </div>
  </div>
</section>

<section class="mb-0 bg-white">
  <div class="container">
    <h1 class="text-center text_dark_brown">新着の口コミ</h1>
    
    <% if @reviews.any? %>
      <ul class="review-list vertical-list row mb-3 mb-md-5">
        <% @reviews.each do |review| %>
          <%= render '/reviews/top_review', review: review %>
        <% end %>
      </ul>
      <div class="row">
        <%= link_to '口コミをもっと見る', latest_reviews_path, class: 'button_m mr-auto ml-auto' %>
      </div>
    <% else %>
      <p>口コミはまだありません。</p>
    <% end %>
  
  </div>
</section>

<section id="topInfoArea" class="mb-0">
  <div class="container">
    <h1 class="text-center text-white">お知らせ</h1>
    <% if @infos.any? %>
    <div class="row mb-3 mb-md-5">
      <ul class="col-11 col-md-9 mr-auto ml-auto mb-0" id="topInfoList">
        <% @infos.each do |info| %>
          <%= render '/infos/info', info: info %>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <%= link_to 'お知らせをもっと見る', infos_path, class: 'button_m btn_white mr-auto ml-auto' %>
    </div>
    <% else %>
      <p>お知らせはまだありません。</p>
    <% end %>
  </div>
</section>

<section class="bg_dark_brown mb-0" id="topPickUp">
  <div class="container">
    <h1 class="text-center text-white">神社へ行こう</h1>
    <ul class="d-flex mb-5 row pickup_list">
      <li class="col-6 col-lg-3 p-0">
        <a href=""><span class="catch">キャッチコピー</span><%= image_tag 'top_jinjya_thumb_01.png' %><span class="name">伊勢神宮</span></a>
      </li>
      <li class="col-6 col-lg-3 p-0">
        <a href=""><span class="catch">キャッチコピー</span><%= image_tag 'top_jinjya_thumb_02.png' %><span class="name">出雲大社</span></a>
      </li>
      <li class="col-6 col-lg-3 p-0">
        <a href=""><span class="catch">キャッチコピー</span><%= image_tag 'top_jinjya_thumb_03.png' %><span class="name">伏見稲荷大社</span></a>
      </li>
      <li class="col-6 col-lg-3 p-0">
        <a href=""><span class="catch">キャッチコピー</span><%= image_tag 'top_jinjya_thumb_04.png' %><span class="name">厳島神社</span></a>
      </li>
    </ul>
    <h1 class="text-center text-white">お寺へ行こう</h1>
    <ul class="row mb-0 pb-0 pickup_list">
      <li class="col-6 col-lg-3 p-0">
        <a href=""><span class="catch">キャッチコピー</span><%= image_tag 'top_otera_thumb_01.png' %><span class="name">清水寺</span></a>
      </li>
      <li class="col-6 col-lg-3 p-0">
        <a href=""><span class="catch">キャッチコピー</span><%= image_tag 'top_otera_thumb_02.png' %><span class="name">金閣寺</span></a>
      </li>
      <li class="col-6 col-lg-3 p-0">
        <a href=""><span class="catch">キャッチコピー</span><%= image_tag 'top_otera_thumb_03.png' %><span class="name">東大寺</span></a>
      </li>
      <li class="col-6 col-lg-3 p-0">
        <a href=""><span class="catch">キャッチコピー</span><%= image_tag 'top_otera_thumb_04.png' %><span class="name">法隆寺</span></a>
      </li>
    </ul>
  </div>
</section>

<section class="mb-0 bg_cream">
  <div class="container">
    <h1 class="text_light_brown text-center">特集記事</h1>
    <ul class="article-list vertical-list row mb-3 mb-md-5">
      <% @parsed_columns.each do |article| %>
        <li class="col-6 col-md-3 bg-white pt-0 pr-0 pl-0 pb-4">
          
          <%= link_to article['link'] do %>
            <% if article['_embedded']['wp:featuredmedia'].present? %>
              <%= image_tag article['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['full']['source_url'] %>
            <% else %>
              <%= image_tag 'blog_no_image.png'%>
            <% end %>
          <% end %>
          
          <div class="p-2">
            <% if article['_embedded']['wp:term'].present? %>
              <%= article['_embedded']['wp:term'][0][0]['name'] %>
            <% end %>
            
            <%= article['date'].to_date.strftime('%Y.%m.%d') %>
            
            <h2><a href="<%= article['link'] %>"><%= article['title']['rendered'] %></a></h2>
            
            <% if article['_embedded']['wp:featuredmedia'].present? %>
              <a href="<%= article['link'] %>"></a>
            <% else %>
            <% end %>
            <%== article['excerpt']['rendered'] %>
          </div>
          
        </li>
      <% end %>
    </ul>
    
    <div class="row">
      <%= link_to '特集記事をもっと見る', @wp_path + '/column', class: 'button_m btn_border mr-auto ml-auto' %>
    </div>
    
  </div>
</section>


<section class="bg-white mb-0">
  <div class="container">
    <h1 class="text-center text_dark_brown">体験記事</h1>
    <ul class="article-list vertical-list row mb-3 mb-md-5">
      <% @parsed_experiences.each do |article| %>
        <li class="col-6 col-md-3 bg-white pt-0 pr-0 pl-0 pb-4">
          
          <%= link_to article['link'] do %>
            <% if article['_embedded']['wp:featuredmedia'].present? %>
              <%= image_tag article['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['full']['source_url'] %>
            <% else %>
              <%= image_tag 'blog_no_image.png'%>
            <% end %>
          <% end %>
          
          <div class="p-2">
            <% if article['_embedded']['wp:term'].present? %>
              <%= article['_embedded']['wp:term'][0][0]['name'] %>
            <% end %>
            
            <%= article['date'].to_date.strftime('%Y.%m.%d') %>
            
            <h2><a href="<%= article['link'] %>"><%= article['title']['rendered'] %></a></h2>
            
            <% if article['_embedded']['wp:featuredmedia'].present? %>
              <a href="<%= article['link'] %>"></a>
            <% else %>
            <% end %>
            <%== article['excerpt']['rendered'] %>
          </div>
          
        </li>
      <% end %>
    </ul>
    
    <div class="row">
      <%= link_to '体験記事をもっと見る', @wp_path + '/experience', class: 'button_m mr-auto ml-auto' %>
    </div>
    
  </div>
</section>
