<% content_for(:title, 'カテゴリー一覧') %>
<% content_for(:body_class, "category") %>
<% content_for(:body_id, "index") %>

<section>
  <h1>カテゴリー一覧</h1>
  <% if @categories.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% if root_logged_in? %>
              <th>ID</th>
            <% end %>
            <th>名前</th>
            <th>スラッグ</th>
            <th>カテゴリータイプ</th>
            <th>スポット数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <% if root_logged_in? %>
                <td><%= category.id %></td>
              <% end %>
              <td><%= category.name %></td>
              <td><%= category.slug %></td>
              <td><%= category.category_type %></td>
              <td><%= category.spots.count %></td>
              <td>
                <%= link_to '編集', edit_category_path(category), class: 'btn btn-warning' %> <%= link_to '削除', category, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
</section>