<h2><%= @spot.name %>へのレビュー投稿</h2>

<%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :spot_id, value: @spot.id  %>
  
  <div class="form-group">
    <%= f.label :comment, 'レビュー本文' %>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>
  
  <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
  
<% end %>
