<nav class="navbar navbar-expand-md fixed-top" id="headerNav">
  
  <a class="navbar-brand ml-4 hover" href="/"><%= image_tag('logo.png', class: 'logo') %></a><div class="site_description">神社仏閣ポータルサイト</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <% if root_logged_in? %>
        <li class="nav-item">
          <%= link_to(content_tag(:i, ' データーベース図', class: 'fa fa-database'), dbmap_path, class: 'nav-link hover') %>
        </li>
      <% end %>
      <% if admin_logged_in? %>
        <li class="nav-item">
          <%= link_to(content_tag(:i, ' ユーザー一覧', class: 'fa fa-group'), users_path, class: 'nav-link hover') %>
        </li>
        <li class="nav-item">
          <%= link_to(content_tag(:i, ' スポット登録', class: 'fa fa-map-marker'), new_spot_path, class: 'nav-link hover') %>
        </li>
        <li class="nav-item">
          <%= link_to(content_tag(:i, ' カテゴリ登録', class: 'fa fa-check'), new_category_path, class: 'nav-link hover') %>
        </li>
        <li class="nav-item">
          <%= link_to(content_tag(:i, ' カテゴリ一覧', class: 'fa fa-list-ul'), categories_path, class: 'nav-link hover') %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to(content_tag(:i, '', class: 'fa fa-search mr-1') + 'スポット検索', search_path, class: 'nav-link hover') %>
      </li>
      <li class="nav-item">
        <%= link_to(content_tag(:i, '', class: 'fa fa-map-marker mr-1') + 'スポット登録', new_spot_path, class: 'nav-link hover') %>
      </li>
      <% if logged_in? %>
      
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, ' マイページ', class: 'fa fa-user'), mypage_path, class: 'nav-link hover') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, ' プロフィール', class: 'fa fa-address-card'), user_path(current_user), class: 'nav-link hover') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, ' プロフィール編集', class: 'fa fa-cog'), edit_user_path(current_user), class: 'nav-link hover') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, ' ログアウト', class: 'fa fa-sign-out'), logout_path, method: :delete, class: 'nav-link hover') %>
        </li>
      
        <li class="nav-item d-none d-md-block dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="current-user-icon"><%= user_icon_thumb60(current_user, 'rounded-circle') %></span></a>
          <div class="dropdown-menu">
            <h2><%= current_user.name %></h2>
            <%= link_to(content_tag(:i, ' マイページ', class: 'fa fa-user'), mypage_path, class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, ' プロフィール', class: 'fa fa-address-card'), user_path(current_user), class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, ' プロフィール編集', class: 'fa fa-cog'), edit_user_path(current_user), class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, '', class: 'fa fa-sign-out mr-1') + 'ログアウト', logout_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
        
      <% else %>
        <li class="nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-user-plus mr-1') + 'ユーザー登録', signup_path, class: 'nav-link hover') %>
        </li>
        <li class="nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-sign-in mr-1') + 'ログイン', login_path, class: 'nav-link hover') %>
        </li>
      <% end %>
    </ul>
  </div>
  
</nav>


<nav class="container navbar" id="subNab">
  <ul class="nav navbar-nav navbar-right flex-row">
  	<li class="nav-item">
      <%= link_to(image_tag('list_icon_s.png', class: 'mr-2') + '特集記事', root_path, class: 'nav-link hover') %>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right flex-row justify-content-end">
  	<li class="nav-item d-flex">
      <%= link_to(content_tag(:i, '', class: 'fa fa-info-circle mr-1') + 'このサイトの使い方', users_path, class: 'nav-link mr-2 hover') %>
    </li>
    <li class="nav-item sns_icon">
      <%= link_to(content_tag(:i, '', class: 'fa fa-facebook-square'), new_spot_path, class: 'nav-link hover') %>
    </li>
    <li class="nav-item sns_icon">
      <%= link_to(content_tag(:i, '', class: 'fa fa-twitter'), new_category_path, class: 'nav-link hover') %>
    </li>
    <li class="nav-item sns_icon">
      <%= link_to(content_tag(:i, '', class: 'fa fa-instagram'), categories_path, class: 'nav-link hover') %>
    </li>
  </ul>
</nav>

