<nav>
  <ul>
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'データーベース図', dbmap_path %></li>
    <li><%= link_to 'ユーザー一覧' , users_path %></li>
    <li><%= link_to 'ログイン', login_path %></li>
    <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
  </ul>
</nav>