<nav class="navbar navbar-expand-md fixed-top" id="headerNav">
  
  <%= link_to(image_tag('logo.png', class: 'logo'), root_path, class: 'navbar-brand ml-sm-0 ml-md-4') %>
  <div class="site_description mr-auto">神社仏閣ポータルサイト</div>
  <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <%= content_tag(:i, '', class: 'fa fa-navicon') %>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <% if root_logged_in? %>
        <li class="nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-database mr-1') + 'データーベース図', dbmap_path, class: 'nav-link') %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to(content_tag(:i, '', class: 'fa fa-search mr-1') + '神社仏閣検索', spot_filter_path, class: 'nav-link') %>
      </li>
      <% if logged_in? %>
      
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, '', class: 'fa fa-user mr-1') + 'マイページ', mypage_path, class: 'nav-link') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, '', class: 'fa fa-address-card mr-1') + 'プロフィール', user_path(current_user), class: 'nav-link') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, '', class: 'fa fa-cog mr-1') + 'プロフィール編集', edit_user_path(current_user), class: 'nav-link') %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to(content_tag(:i, '', class: 'fa fa-sign-out mr-1') + 'ログアウト', logout_path, method: :delete, class: 'nav-link') %>
        </li>
      
        <li class="nav-item d-none d-md-block dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="current-user-icon"><%= user_icon_thumb60(current_user, 'rounded-circle') %></span></a>
          <div class="dropdown-menu">
            <h2><%= current_user.name %></h2>
            <%= link_to(content_tag(:i, '', class: 'fa fa-user mr-1') + 'マイページ', mypage_path, class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, '', class: 'fa fa-address-card mr-1') + 'プロフィール', user_path(current_user), class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, '', class: 'fa fa-cog mr-1') + 'プロフィール編集', edit_user_path(current_user), class: 'dropdown-item') %>
            <%= link_to(content_tag(:i, '', class: 'fa fa-sign-out mr-1') + 'ログアウト', logout_path, method: :delete, class: 'dropdown-item') %>
            <% if admin_logged_in? %>
              <%= link_to(content_tag(:i, '', class: 'fa fa-group mr-1') + 'ユーザー一覧', users_path, class: 'dropdown-item') %>
              <%= link_to(content_tag(:i, '', class: 'fa fa-map-marker mr-1') + '神社仏閣登録', new_spot_path, class: 'dropdown-item') %>
              <%= link_to(content_tag(:i, '', class: 'fa fa-check mr-1') + 'カテゴリ登録', new_category_path, class: 'dropdown-item') %>
              <%= link_to(content_tag(:i, '', class: 'fa fa-list-ul mr-1') + 'カテゴリ一覧', categories_path, class: 'dropdown-item') %>
              <%= link_to(content_tag(:i, '', class: 'fa fa-info-circle mr-1') + 'お知らせ登録', new_info_path, class: 'dropdown-item') %>
            <% end %>
          </div>
        </li>
        
      <% else %>
        <li class="nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-user-plus mr-1') + 'ユーザー登録', signup_path, class: 'nav-link mr-3') %>
        </li>
        <li class="d-none d-md-block nav-item">
          <%= link_to 'ログイン', login_path, class: 'nav-link login_btn' %>
        </li>
        <li class="d-block d-md-none nav-item">
          <%= link_to(content_tag(:i, '', class: 'fa fa-sign-in mr-1') + 'ログイン', login_path, class: 'nav-link') %>
        </li>
      <% end %>
    </ul>
  </div>
  
</nav>


<nav class="container navbar p-1 p-md-2" id="subNab">
  <ul class="nav navbar-nav navbar-right flex-row d-none d-md-flex">
  	<li class="nav-item mr-4">
      <%= link_to(image_tag('list_icon_s.png', class: 'mr-2') + '特集記事', root_path, class: 'nav-link') %>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right flex-row justify-content-end" id="headerInfoSNS">
  	<li class="nav-item d-flex">
      <%= link_to(content_tag(:i, '', class: 'fa fa-info-circle mr-1') + 'このサイトの使い方', users_path, class: 'nav-link mr-2') %>
    </li>
    <li class="nav-item sns_icon">
      <%= link_to(content_tag(:i, '', class: 'fa fa-facebook-square'), ENV['FACEBOOK_URL'], class: 'nav-link', target: '_blank') %>
    </li>
    <li class="nav-item sns_icon">
      <%= link_to(content_tag(:i, '', class: 'fa fa-twitter'), ENV['TWITTER_URL'], class: 'nav-link', target: '_blank') %>
    </li>
    <li class="nav-item sns_icon">
      <%= link_to(content_tag(:i, '', class: 'fa fa-instagram'), ENV['INSTA_URL'], class: 'nav-link', target: '_blank') %>
    </li>
  </ul>
</nav>

