<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:title) ? yield(:title) + ' | FavSpots 口コミ投稿サイト' : 'FavSpots 口コミ投稿サイト' %></title>
    <%= yield(:meta) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="ja">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= yield(:body_class) %>" id="<%= yield(:body_id) %>">
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <div class="container" id="container">
      <div class="row">

        <main role="main" class="col-md-8 pt-3">
          <article class="main-content">
            <%= render 'layouts/flash_messages' %>
            <%= yield %>
          </article>
        </main>
        
        <aside class="col-md-4 d-none d-md-block sidebar">
          <%= render 'layouts/sidebar' %>
        </aside>

      </div><!-- .row -->
    </div><!-- .container -->
  </body>
  
</html>
