<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_ID'] %>"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', '<%= ENV['GA_ID'] %>');
    </script>

    <title><%= content_for?(:title) ? yield(:title) + ' | 社寺の杜' : '社寺の杜' %></title>
    <%= yield(:meta) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="ja">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//kitchen.juicer.cc/?color=<%= ENV['JUICER_ID'] %>" async></script>
    <meta name="google-site-verification" content="<%= ENV['SEARCH_CONSOLE_ID'] %>" />
  </head>

  <body class="<%= yield(:body_class) %>" id="<%= yield(:body_id) %>">
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <article class="main-content">
      <div class="container">
        <%= render 'layouts/flash_messages' %>
      </div>
      <%= yield %>
    </article>

  </body>
  
</html>
