<!DOCTYPE html>
<html>
  <head>
    <title>FavSpots</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="inner">
        <% if logged_in? %>
          <p><%= current_user.name %>でログイン中</p>
        <% else %>
          <p>ログインしてません</p>
        <% end %>
        <%= render 'layouts/navbar' %>
      </div>
    </header>
    <div class="inner">
       <article>
         <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </article>
      <aside>
      </aside>
    </div>
   
    <footer>
      <div class="inner">
        
      </div>
    </footer>
  </body>
</html>
