<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_ID'] %>"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', '<%= ENV['GA_ID'] %>');
    </script>

    <title><%= content_for?(:title) ? yield(:title) + ' | 社寺の杜' : '社寺の杜' %></title>
    <%= yield(:meta) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="ja">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//kitchen.juicer.cc/?color=<%= ENV['JUICER_ID'] %>" async></script>
    <meta name="google-site-verification" content="<%= ENV['SEARCH_CONSOLE_ID'] %>" />
  </head>

  <body class="<%= yield(:body_class) %>" id="<%= yield(:body_id) %>">
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <div class="container pb-5" id="container">
      <div class="row bg-white p-3 p-md-5 pt-5 pb-5">

        <main role="main" class="col-lg-7 col-xl-8 pl-0">
          <article class="main-content">
            <%= render 'layouts/flash_messages' %>
            <%= yield %>
          </article>
        </main>
        
        <aside class="col-lg-5 col-xl-4 d-none d-lg-block pr-0 sidebar">
          <%= render 'layouts/sidebar' %>
        </aside>

      </div><!-- .row -->
    </div><!-- .container -->
    
    <footer>
      <%= render 'layouts/footer' %>      
    </footer>
    
  </body>
  
</html>
